# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Data (do NOT commit datasets)
# =========================
data/

# =========================
# Experiments & outputs
# =========================
runs/
results/
logs/
checkpoints/
outputs/

# =========================
# Environment dumps
# =========================
requirements_full.txt

# =========================
# Misc
# =========================
*.log

